<ul class="collection">
  <li class="collection-item avatar">
    <div class="row travel_tile">
      <div class="col s2">
        <%= outlay_icon(gt) %>
      </div>
      <div class="col s10">
          <span class="title pink-text accent-4">
            <%= gt.user.name %>
            <span> | </span>
            
          </span>
        <div class="left-align">
          <p><span class="teal-text">Date:</span> <%= gt.created_at.to_s(:long_ordinal) %></p>
        </div>
      </div>
    </div>

    <h3 class="secondary-content">
      <%= gt.outlay.amount %>
      <span class=>$</span>
    </h3>

     <div>
      <%= link_to '<i class="small material-icons indigo-text darken-4">visibility</i>'.html_safe, gt %>
      <%= edit_travel_link(gt) %>
      <%= delete_travel_link(gt) %>
    </div>
  </li>
</ul>