<div class='card blue lighten-5'>
<% provide(:title, @group.name) %>
<div class="card">
  <div class="card-body d-flex align-items-center">
    <%=display_icon(@group) %>
    <h3 class="ml-3">Group: <%= @group.name %></h3>
  </div>
  <div class="card-footer">
    Created by <%= @group.user.name %> on <%= creation_date(@group) %>
  </div>
</div>
<div class="card mt-3">

  <div class="card-action right-align">
    <%= link_to '<i class="small material-icons green-text darken-4">arrow_back</i>'.html_safe, groups_path %>
    <%= edit_group_link(@group) %>
    <%= delete_group_link(@group) %>
  </div>
  <div class="card-body">
    <h3>Expenses in this group: </h3>
  </div>
</div>
</div>


<% @group.outlays.each do |expense| %>
  <div class="card w-75 mx-auto my-3">
    <div class="card-body d-flex justify-content-between">
      <span><%= expense.name %></span>
      <strong>$<%= expense.amount%></strong>
    </div>
    <div class="card-footer">
      Created by <%= expense.author.name %> on <%= creation_date(expense) %>
    </div>
  </div>
  
<% end %>
 
