

<div class="card">
  <div class="card-header">
    <div class = "text-center bg-profile">
    <%= show_avatar(@user)%>
    <h4><%= current_user.name %></h4>
   </div>

   <span class="btn-floating btn-large amber lighten-1">
     <%= link_to '<i class="large material-icons red-text">mode_edit</i>'.html_safe, edit_user_registration_path %>
  </span>

    <div class="profile_info">
          <p class="profile_info_name"><%= current_user.name %></p>
    </div>

  </div>

    </div>


  <div class="card-body card text-left ">
    <ul class="list-group list-group-flush ">
    <li class="list-group-item bg-primary">
    <img src="https://img.icons8.com/color/48/000000/cashbook.png"/>
      <%= link_to "All My Daily Outlays",  outlays_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <img src="https://img.icons8.com/offices/48/000000/exterior.png"/>
      <%= link_to 'All My External Outlays', outlays_index_no_group_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
     <img src="https://img.icons8.com/fluent/48/000000/group-foreground-selected.png"/>
      <%= link_to 'All groups', groups_path, class: 'text-white' %>
    </li>

    </li>
  </ul>
  </div>
  
  
</div>
