<div class="bg-primary vh-100 text-white">
  <div class="py-3 text-center">

   
<%=image_tag @user.avatar_url.to_s%>


    
    <h1>Welcome, <%= @user.name %></h1>
  </div>
  <ul class="list-group my-5">
    <li class="list-group-item bg-primary">
    <i class="fas fa-money-bill mr-3"></i>
      <%= link_to "All My Expenses",  outlay_new_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <i class="fas fa-external-link-alt mr-3"></i>
      <%= link_to 'All My External Expenses', outlay_index_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <i class="fas mr-3 fa-users"></i>
      <%= link_to 'All groups', groups_path, class: 'text-white' %>
    </li>
    <li style="list-style: none;" class = "nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"navbar-brand"%>
      </li>

    </li>
  </ul>
</div>