


<div class="card">
  <div class="card-header">
    <div class = "text-center">
    <%= show_avatar(@user)%>
    <h1><%= @user.name %></h1>
   </div>
  </div>
  <div class="card-body card text-left ">
    <ul class="list-group list-group-flush ">
    <li class="list-group-item bg-primary">
    <img src="https://img.icons8.com/color/48/000000/cashbook.png"/>
      <%= link_to "All My Daily Outlays",  outlays_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <img src="https://img.icons8.com/offices/48/000000/exterior.png"/>
      <%= link_to 'All My External Outlays', outlays_index_no_group_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
     <img src="https://img.icons8.com/fluent/48/000000/group-foreground-selected.png"/>
      <%= link_to 'All groups', groups_path, class: 'text-white' %>
    </li>

    </li>
  </ul>
  </div>
  
  
</div>
