<div class=" vh-100 text-white" style="background-color: #377Bc2;">
  <div class="py-2 text-center">

   <div>
    <%= show_avatar(@user)%>
    <h1><%= @user.name %></h1>
   </div>

  </div>
  <ul class="list-group my-5" style="background-color: #377Bc2;">
    <li class="list-group-item bg-primary">
    <i class="fas fa-money-bill mr-1"></i>
      <%= link_to "All My Expenses",  outlays_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <i class="fas fa-external-link-alt mr-3"></i>
      <%= link_to 'All My External Expenses', outlay_index_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <i class="fas mr-3 fa-users"></i>
      <%= link_to 'All groups', groups_path, class: 'text-white' %>
    </li>
    <li class="list-group-item bg-primary">
      <i class="fas fa-external-link-alt mr-3"></i>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'text-white'%>
      </li>

    </li>
  </ul>
</div>