
<div class="card w-75 mx-auto my-3">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div>
      <%= display_icon(outlay.groups.take) if outlay.groups.any? %>
      <%= outlay.name %>
    </div>
    <strong>$<%= outlay.amount%></strong>
  </div>
   <div>
    <%= creation_date(outlay) %>
  </div>


  <div>
      <%= link_to '<i class="small material-icons indigo-text darken-4">visibility</i>'.html_safe, outlay %>
      <%= link_to '<i class="small material-icons teal-text darken-4">mode_edit</i>'.html_safe, edit_outlay_path(outlayl) %>
      <%= link_to '<i class="small material-icons deep-orange-text accent-3">delete</i>'.html_safe, outlay, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

</div>